<!DOCTYPE html>
<html ng-app="tableApp" ng-controller="TableController as table">
  <head>
    <meta charset="UTF-8">
    <title>HAM Log Visualizer</title>
    <link rel="stylesheet" href="./css/main.css">
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./js/table.js"></script>
  </head>
  <body>
    <header class="file-upload">
      <p class="file-upload__uploaded-file-name">No file uploaded</p>
      <p class="file-upload__upload-instructions">
        <label class="file-upload__label" for="file-upload">Browse your computer for files</label>
        <span>or drag and drop them onto this window to upload</span>
      </p>
      <input class="file-upload__input" type="file" id="file-upload" accept=".adi,.edi,.txt,.log">
    </header>
    <table class="table" ng-show="records.length != 0" id="table">
      <thead class="table__table-head">
        <tr class="table__table-head-title-row">
          <th scope="col">To</th>
          <th scope="col">Date &amp; time</th>
          <th scope="col">Frequency</th>
          <th scope="col">Sent RST</th>
          <th scope="col">Received RST</th>
          <th scope="col">Grid square</th>
        </tr>
      </thead>
      <tbody class="table__table-body">
        <tr class="table__table-body-row" ng-repeat="record in records">
          <td>{{record.call}}</td>
          <td>{{record.dateTime}}</td>
          <td>{{record.frequency}}</td>
          <td>{{record.sentRST}}</td>
          <td>{{record.receivedRST}}</td>
          <td>{{record.gridSquare}}</td>
        </tr>
      </tbody>
    </table>
    <footer class="table-controls" ng-show="records.length != 0">
      <p>Showing {{records.length}} calls</p>
      <div class="table-controls__button-group">
        <button class="table-controls__clear-button button" type="button" ng-click="clear()">Clear</button>
        <button class="table-controls__convert-button button" type="button">Save as .kml</button>
      </div>
    </footer>
  </body>
  <script>
    require('./renderer.js')
  </script>
</html>
