<!DOCTYPE html>
<html ng-app="tableApp" ng-controller="TableController as table">
  <head>
    <meta charset="UTF-8">
    <title>HAM Log Visualizer</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Roboto">
    <link rel="stylesheet" href="./css/main.css">
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./js/table.js"></script>
  </head>
  <body>
    <main>
      <aside class="files">
        <label class="button" for="file-upload">Choose files</label>
        <input class="file-upload__input" type="file" id="file-upload" accept=".adi,.edi,.txt,.log" multiple>
        <span class="file-upload__instruction">or drag &amp; drop them here</span>
        <p class="file-upload__message"></p>
        <ul class="files__file-list">
          <li class="files__file-list-item" ng-repeat="file in files" title="{{file}}">
            <button class="files__file-list-item-delete-button" type="button" ng-click="deleteFile(file)">
              <img src="img/icons/delete.svg" alt="Delete {{file}}">
            </button>
            {{file}}
          </li>
        </ul>
      </aside>

      <div class="records">
        <input class="search__search-bar" id="search" type="search" name="search" placeholder="Search" ng-model="filter">
        <table class="table" ng-show="records.length != 0" id="table">
          <thead class="table__table-head">
            <tr class="table__table-head-title-row">
              <th scope="col">To</th>
              <th scope="col">Date &amp; time</th>
              <th scope="col">Frequency</th>
              <th scope="col">Sent RST</th>
              <th scope="col">Received RST</th>
              <th scope="col">Grid square</th>
            </tr>
          </thead>
          <tbody class="table__table-body">
            <tr class="table__table-body-row" ng-repeat="record in records | filter:filter">
              <td>{{record.call}}</td>
              <td>{{record.dateTime.format("LLL")}}</td>
              <td>{{record.frequency}}</td>
              <td>{{record.sentRST}}</td>
              <td>{{record.receivedRST}}</td>
              <td>{{record.gridSquare}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    <footer class="table-controls" ng-show="records.length != 0">
      <p>Showing {{records.length == 1 ? "1 call" : records.length + " calls"}} across {{files.length == 1 ? "1 file" : files.length + " files"}}.</p>
      <div class="table-controls__button-group">
        <button class="table-controls__clear-button button" type="button" ng-click="clear()">Clear</button>
        <button class="table-controls__save-button button" type="button">Save</button>
      </div>
    </footer>

    <div class="backdrop hidden"></div>
    <div class="modal save-modal__outer hidden">
      <div class="modal__container center-content">
        <div class="save-modal__inner">
          <form>
            <fieldset>
              <legend>Markers</legend>
              <label>
                <input type="radio" name="markerColor" id="marker-color-band" ng-model="markerColor" ng-value="'band'" ng-init="markerColor = 'band'">
                Color by band
              </label>
              <table class="save-modal__marker-colors">
                <tr>
                  <th scope="row">50 - 52</th>
                  <td>Red</td>
                </tr>
                <tr>
                  <th scope="row">69.950 - 70.5</th>
                  <td>Orange</td>
                </tr>
                <tr>
                  <th scope="row">144 - 148</th>
                  <td>Yellow</td>
                </tr>
                <tr>
                  <th scope="row">430 - 440</th>
                  <td>Green</td>
                </tr>
                <tr>
                  <th scope="row">1240 - 1300</th>
                  <td>Blue</td>
                </tr>
                <tr>
                  <th scope="row">2300 - 2450</th>
                  <td>Purple</td>
                </tr>
                <tr>
                  <th scope="row">5650 - 5850</th>
                  <td>Grey</td>
                </tr>
                <tr>
                  <th scope="row">10000 - 10500</th>
                  <td>White</td>
                </tr>
                <tr>
                  <th scope="row">47000</th>
                  <td>Black</td>
                <tr>
              </table>
              <label>
                <input type="radio" name="markerColor" id="marker-color-single" ng-model="markerColor" ng-value="'single'">
                Single color
              </label>
              <select ng-disabled="markerColor != 'single'">
                <option value="red" selected>Red</option>
                <option value="orange">Orange</option>
                <option value="yellow">Yellow</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
                <option value="purple">Purple</option>
                <option value="grey">Grey</option>
                <option value="white">White</option>
                <option value="black">Black</option>
              </select>
            </fieldset>
            <div class="save-modal__button-group">
              <button class="button save-modal__cancel-button" type="button">Cancel</button>
              <button class="button save-modal__save-button" type="button">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script>
    require('./renderer.js')
  </script>
</html>
