* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  width: 100%;
}

body {
  background: $lightestgrey;
  color: $black;
  font: 1em/1.5 'Roboto', sans-serif;

  main {
    display: flex;
    flex-direction: row;
    width: 100%;

    .records {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}