.drag-and-drop {

  &__dropzone {
    background: $darkgrey;
    border: .125em dashed $amber;
    box-shadow: $shadow2;
    margin: 1em;
    padding: 1em;
    transition: all .25s ease-in-out;
    width: calc(100% - 2em);

    &.dragover {
      animation: .5s infinite alternate border;
      box-shadow: $shadow3;
    }
  }
}

@keyframes border {
  from {
    border: .125em dashed $amber; 
  }

  to {
    border: .125em dashed $amber-darken-4;
  }
}