.file-upload {
  background: $darkestgrey;
  box-shadow: $shadow2;
  display: flex;
  height: 3.5em;
  justify-content: space-between;
  padding: 1em 2em;
  position: sticky;
  top: 0;
  transition: all .25s ease-in-out;
  width: 100%;

  &__instruction {
    font: .75em/1.5 'Montserrat', sans-serif;
    margin: 0 1em 1em;
    text-transform: uppercase;
  }

  &__label {
    cursor: pointer;

    &.button {
      background: $primary-color;
      border: 0;
      color: $white;
      cursor: pointer;
      display: block;
      font-size: 1em;
      margin: 1em 1em .5em;
      padding: .5em 1em;
      transition: all .25s ease-in-out;

      &:hover {
        box-shadow: $shadow2;
      }
    }
  }

  &__input {
    display: none;
  }
}

