.files {
  background: $card-background-color;
  box-shadow: $shadow2;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 1em 0 0 1em;
  min-height: calc(100vh - 2em);
  text-align: center;
  flex-basis: 15em;

  &__file-list {
    
    &-item {
      background: $table-row-color;
      overflow: hidden;
      padding: .5em 1em;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 15em;
      transition: all .25s ease-in-out;

      &:nth-of-type(even) {
        background: $table-row-alternate-color;
      }

      &:hover {
        background: $primary-color;
        color: $white;
      }

      &-delete-button {
        background: transparent;
        border: 0;
        cursor: pointer;
        display: none;
        height: .75em;
        padding: 0;
        transition: all .25s ease-in-out;
        vertical-align: top;

        &:focus {
          outline: 0;
        }
      }

      &:hover > button {
        display: inline-block;
        filter: invert(100%);
      }
    }
  }
}