.file-upload {
  background: $darkestgrey;
  box-shadow: $shadow2;
  display: flex;
  height: 3.5em;
  justify-content: space-between;
  padding: 1em 2em;
  position: sticky;
  top: 0;
  transition: all .25s ease-in-out;
  width: 100%;
  
  &__uploaded-file-name {
    color: $grey;
    overflow: hidden;
    transition: all .25s ease-in-out;

    &.upload-successful {
      color: $green;
    }

    &.upload-failed {
      color: $red;
    }
  }

  &__upload-instructions {
    flex-shrink: 0;
    overflow: hidden;
  }

  &__label { 
    border-bottom: 1px solid $amber;
    cursor: pointer;
  }

  &__input {
    display: none;
  }
}

