.table-controls {
  align-items: center;
  background: $table-controls-color;
  box-shadow: $shadow2;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 1em 1em 1em 2em;
  position: sticky;

  &__button-group {
    display: flex;
    align-items: center;
  }
}