.table {
  box-shadow: $shadow2;
  margin: 1em;
  width: calc(100% - 2em);

  th, td {
    padding: .5em 1em;
  }

  &__table-head {
    position: sticky;
    top: 2.5em;

    &-title-row {
      background: $table-header-color;

      th {
        font: 1em/1.5 'Montserrat', sans-serif;
        text-align: left;
        text-transform: uppercase;
      }
    }
  }

  &__table-body {

    &-row {
      background: $table-row-color;
      transition: all .25s ease-in-out;

      &:nth-of-type(even) {
        background: $table-row-alternate-color;
      }

      &:hover {
        background: $primary-color;
        color: $white;
      }
    }
  }
}