// App color scheme
$primary-color: $indigo;
$body-background-color: $white;
$card-background-color: $lightestgrey;
$menu-background-color: $lightergrey;
$table-header-color: $lightgrey;
$table-row-color: $lightergrey;
$table-row-alternate-color: $lightestgrey;
$table-controls-color: $lightgrey;